body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a, a:hover, a:visited, a:active {
  color: #007bff;
  text-decoration: none;
}

.post-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-content {
  flex: 1;
}

.site-footer {
  background-color: #041a22;
  color: #fff;
  padding: 20px 0;
  font-size: 12px; 
}

.site-footer a {
  color: #fff;
  text-decoration: none;
}

.site-footer a:hover,
.site-footer a:visited,
.site-footer a:active {
  text-decoration: none;
}

.post-date {
  font-size: 14px;
  display: block;
  margin-top: 8px;
  margin-bottom: 12px;
}

pre {
  overflow-x: auto;
  font-size: 0.85em;
  background-color: #041a22;
  color: #f8f8f2;
  padding: 20px;
}

code {
  display: block;
}

code span {
  color: #f8f8f2;
}

code .k { color: #f92672; }
code .n { color: #66d9ef; }
code .s, code .p { color: #fd971f; }
code .c1, code .cm { color: #75715e; }
code .o, code .op { color: #f8f8f2; }
code .nb, code .nc, code .ne, code .ni, code .nn { color: #a6e22e; }
code .nv, code .vg { color: #ae81ff; }

